[stratos-dev]
aws_access_key_id={{ .stratos.aws.dev.access_key_id }}
aws_secret_access_key={{ .stratos.aws.dev.secret_access_key }}

[stratos-prod]
aws_access_key_id={{ .stratos.aws.prod.access_key_id }}
aws_secret_access_key={{ .stratos.aws.prod.secret_access_key }}

[stratos-management-personal]
aws_access_key_id={{ .stratos_management.aws.prod.access_key_id }}
aws_secret_access_key={{ .stratos_management.aws.prod.secret_access_key }}
