[Unit]
Description=kmonad keyboard config

[Service]
Restart=always
RestartSec=3
Nice=-20
User=ericcrosson
ExecStart={{ .chezmoi.homeDir }}/.local/bin/kmonad {{ .chezmoi.homeDir }}/.config/kmonad/config.kbd

[Install]
WantedBy=default.target
