[user]
	email = eric.s.crosson@gmail.com
	name = Eric Crosson
[color]
	ui = auto
	interactive = auto
[push]
	default = simple
[alias]
	s = status
	c = checkout
	co = checkout
	k = commit
	ca = commit --all
	cm = commit -m
	cam = commit --all -m
	acm = !git add . && git commit -m

	a = add
	al = add all

	p = push
	prum = pull --rebase upstream master
	pom = push origin master

        r = remote
	rn = remote add
	rr = remote rename
	rg = remote get-url

	b = branch

	r = rebase
	rc = rebase --continue
	ra = rebase --abort

	f = fetch
	fa = fetch --all

	le = ledger

	cl = clone

	l = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
	lg = !"git lg1"
	lga = !"git lg1 --all"
	lg2a = !"git lg2-specific --all"
	lg3a = !"git lg3-specific --all"
	lg1 = !"git lg1-specific"
	lg2 = !"git lg2-specific"
	lg3 = !"git lg3-specific"
	lg1-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(black)%s%C(reset) %C(dim black)- %an%C(reset)%C(auto)%d%C(reset)'
	lg2-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(black)%s%C(reset) %C(dim black)- %an%C(reset)'
	lg3-specific = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset) %C(bold cyan)(committed: %cD)%C(reset) %C(auto)%d%C(reset)%n''          %C(black)%s%C(reset)%n''          %C(dim black)- %an <%ae> %C(reset) %C(dim black)(committer: %cn <%ce>)%C(reset)'

	d = diff --color-words
	dh = diff --color-words head
	alias = !git config --list | grep \"alias\\\\.\" | sed \"s/alias\\\\.\\\\([^=]*\\\\)=\\\\(.*\\\\)/\\\\1\\\\\\t => \\\\2/\" | sort
	ls = log --oneline

	ll = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
	undo-commit = reset --soft HEAD~1
	rv = checkout --

	# merging
	ours = checkout --ours --
	theirs = checkout --theirs --

	# stashing
	sl = stash list
	sa = stash apply
	ss = stash save

        # submodules
        sm = submodule
        sms = submodule status
        sa = submodule add
        si = submodule init
        su = submodule update

        # GitLab specific
        # example: git mr upstream 5
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

	# BFG repo-cleaner
	bfg = !java -jar $HOME/workspace/git-bfg-repo-cleaner/bfg-1.12.15.jar

[url "git@nebuchadnezzar.shoretel.com:"]
	insteadOf = "neb:"
	PushInsteadOf = "neb:"
	# example: git clone neb:ecrosson/confluent
[url "https://nebuchadnezzar.shoretel.com/"]
	insteadOf = "heb:"
	PushInsteadOf = "heb:"
	# example: git clone heb/ecrosson/confluent
[url "git@github.com:"]
	insteadOf = "gh:"
	PushInsteadOf = "gh:"
[url "git@gitlab.com:"]
	insteadOf = "gl:"
	PushInsteadOf = "gl:"
[core]
	editor = vim
	excludesfile = /home/eric/.gitignore_global

[rerere]
	enabled = true
