[data]
    [data.user]
        name = "Eric Crosson"
        email = "eric.s.crosson@utexas.edu"

    [data.keyboard]
        # On Linux, points to an input in /dev/input/by-id/
        # The program evtest is helpful to confirm inputs
        device_id = ""

    [data.github]
        # from https://github.com/settings/tokens
        forge_token = ""
        gh_token = ""
        username = ""

    [data.wakatime]
        api_key = ""

    [data.stratos]
        [data.stratos.aws.dev]
            access_key_id = ""
            secret_access_key = ""

        [data.stratos.aws.prod]
            access_key_id = ""
            secret_access_key = ""

        [data.stratos_management.aws.prod]
            access_key_id = ""
            secret_access_key = ""
