[submodule "helix"]
	path = helix
	url = https://github.com/helix-editor/helix
[submodule "kmonad"]
	path = kmonad
	url = https://github.com/kmonad/kmonad
[submodule "catppuccin-bat"]
	path = catppuccin-bat
	url = https://github.com/catppuccin/bat
