[submodule "helix"]
	path = helix
	url = https://github.com/helix-editor/helix
[submodule "kmonad"]
	path = kmonad
	url = https://github.com/kmonad/kmonad
[submodule "catppuccin-helix"]
	path = catppuccin-helix
	url = git@github.com:catppuccin/helix.git
