#####################################################################
# config
#####################################################################

# zmodload zsh/zprof

zmodload zsh/terminfo

# Use bash-style navigation
bindkey -e                               # use bash input mode
# autoload -U select-word-style            # kill-word stops at directory delimeter
setopt interactivecomments               # bash-style comments
autoload copy-earlier-word && \
	zle -N copy-earlier-word && \
	bindkey '^[,' copy-earlier-word  # cycle through last-words with M-.

#####################################################################
# aliases
#####################################################################

alias c='chezmoi '
alias d='docker '
alias g='git '
alias gdc='git diff --cached '
alias l='ls -lahv '
alias o='open '
alias npx='npx --no-install '
alias rg='rg --smart-case '
alias s='screen '
alias ssh='ssh -t '
alias sudo='sudo '
alias v='vim '
alias nrw='npm run --ws '

{{ if eq .chezmoi.username "ericcrosson" -}}
alias j='jira '
{{ end -}}

if command -v hub &>/dev/null; then
    alias git='hub '
fi

if command -v fdfind &>/dev/null; then
   alias fd='fdfind '
fi

# This post outlines what it takes to default to GNU make on macOS
# https://unix.stackexchange.com/questions/246751/how-to-know-why-and-where-the-path-env-variable-is-set/250456#250456
# alias make='gmake '

# Make and change directory
# Usage: mc <dir>
#
# @example
# mc new-directory
mc() {
     local namespace="${1:?"Directory must be specified"}"
     mkdir -p -- "$1" && cd -P -- "$1"
}

#####################################################################
# completions
#####################################################################

# Enable completions
if [ -d ~/.zsh/comp ]; then
    fpath=("${HOME}/.zsh/comp" $fpath)
    autoload -U ~/.zsh/comp/*(:t)
fi

zstyle ':completion:*' group-name ''
zstyle ':completion:*:messages' format '%d'
zstyle ':completion:*:descriptions' format '%d'
zstyle ':completion:*:options' verbose yes
zstyle ':completion:*:values' verbose yes
zstyle ':completion:*:options' prefix-needed yes
# Use cache completion
# apt-get, dpkg (Debian), rpm (Redhat), urpmi (Mandrake), perl -M,
# bogofilter (zsh 4.2.1 >=), fink, mac_apps...
zstyle ':completion:*' use-cache true
zstyle ':completion:*:default' menu select=1
zstyle ':completion:*' matcher-list \
    '' \
    'm:{a-z}={A-Z}' \
    'l:|=* r:|[.,_-]=* r:|=* m:{a-z}={A-Z}'
# sudo completions
zstyle ':completion:*:sudo:*' command-path /usr/local/sbin /usr/local/bin \
    /usr/sbin /usr/bin /sbin /bin /usr/X11R6/bin
zstyle ':completion:*' menu select
zstyle ':completion:*' keep-prefix
zstyle ':completion:*' completer _oldlist _complete _match _ignored \
    _approximate _list _history

# Update compinit only once a day
# https://gist.github.com/ctechols/ca1035271ad134841284#gistcomment-2308206
autoload -Uz compinit

for dump in ~/.zcompdump(N.mh+24); do
  compinit
done

compinit -C

# Original complete functions
compdef '_files -g "*.hs"' runhaskell
compdef _man w3mman
compdef _tex platex

# dircolors on completed entries
zstyle ':completion:*' list-colors 'di=34:ln=35:so=32:pi=33:ex=31:bd=46;34:cd=43;34:su=41;30:sg=46;30:tw=42;30:ow=43;30'

zstyle ':completion:*:processes' command "ps -u $USER -o pid,stat,%cpu,%mem,cputime,command"

#####################################################################
# plugins
#####################################################################

##
# Bootstrap zplug
if [[ ! -d ~/.zplug ]]; then
  git clone https://github.com/zplug/zplug ~/.zplug
  source ~/.zplug/init.zsh && zplug update --self
fi
source "${HOME}/.zplug/init.zsh"

zplug "zplug/zplug", hook-build:'zplug --self-manage'

zplug "mafredri/zsh-async", use:"async.zsh"
zplug "esc-zsh/lambda-pure"

# Disabled 2021-01-06 for speed, not sure what effects we'll see
# zplug "chrissicool/zsh-256color"

zplug "jreese/zsh-titles"

zplug "lukechilds/zsh-better-npm-completion", defer:2

{{ if eq .chezmoi.os "darwin" -}}
zplug "plugins/osx",   from:oh-my-zsh
{{ end -}}

zplug "plugins/docker", from:oh-my-zsh
zplug "plugins/docker-compose", from:oh-my-zsh
zplug "plugins/golang", from:oh-my-zsh
zplug "plugins/git", from:oh-my-zsh
zplug "plugins/github", from:oh-my-zsh
zplug "plugins/gitignore", from:oh-my-zsh
zplug "plugins/pip", from:oh-my-zsh
zplug "plugins/colored-man-pages", from:oh-my-zsh

zplug "MichaelAquilina/zsh-you-should-use", defer:2

zplug "esc-zsh/smart-cd"
zplug "hlissner/zsh-autopair", defer:2
zplug "kiurchv/asdf.plugin.zsh", defer:2
zplug "reegnz/jq-zsh-plugin"
zplug "robsis/zsh-completion-generator"
zplug "sobolevn/wakatime-zsh-plugin"
zplug "supercrabtree/k", defer:2
zplug "wfxr/forgit", defer:2
zplug "zsh-users/zsh-autosuggestions"  # does incur a slowdown, esp during paste
zplug "zsh-users/zsh-completions"
zplug "zsh-users/zsh-history-substring-search"

# Never got much use, so disabled for now
# zplug "tarrasch/zsh-functional"

# commands
zplug "peterhurford/up.zsh"

! zplug check && zplug install
zplug load
##

#####################################################################
# fzf config
#####################################################################

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

bindkey '^X^T' fzf-file-widget
bindkey '^T' transpose-chars

#####################################################################
# pyenv config
#####################################################################

if command -v pyenv >/dev/null 2>&1; then
    eval "$(pyenv init -)"
    if command -v pyenv-virtualenv >/dev/null 2>&1; then
        eval "$(pyenv virtualenv-init -)"
    fi
fi

{{ if eq .chezmoi.username "ericcrosson" -}}
#####################################################################
# jira config
#####################################################################

eval "$(jira --completion-script-zsh)"
{{ end -}}

#####################################################################
# includes
#####################################################################

[ -f ~/.local/share/zsh/screen ] && source ~/.local/share/zsh/screen

{{ if eq .chezmoi.username "ericcrosson" -}}
[ -f ~/.local/share/zsh/bitgo ] && source ~/.local/share/zsh/bitgo
{{ end -}}

#####################################################################
# post-config
#####################################################################

eval "$(direnv hook zsh)"
eval "$(asdf exec direnv hook zsh)"
direnv() { asdf exec direnv "$@"; }

# zprof
