# vim: filetype=sh

#####################################################################
# Terminal emulator configuration
#####################################################################
export HISTSIZE=1500000                 # retain a reasonable history
export HOMEBREW_INSTALL_BADGE="☕"
export EDITOR=hx
{{ if (eq .chezmoi.os "linux") -}}
skip_global_compinit=1
{{ end -}}

#####################################################################
# XDG configuration
#####################################################################
export XDG_DATA_HOME="${XDG_DATA_HOME:-"${HOME}/.local/share"}"

#####################################################################
# Brew configuration
#####################################################################
{{ if eq .chezmoi.os "linux" -}}
path+=('/home/linuxbrew/.linuxbrew/bin')
path+=('/home/linuxbrew/.linuxbrew/sbin')
{{ else if eq .chezmoi.os "darwin" -}}

##
# GNU binaries
#
# MacOS Note: to prioritize GNU Make in $PATH, you must also execute the
# following:
#
# ``` sh
# sudo cp /etc/zprofile /etc/zshenv
# sudo mv /etc/zprofile /etc/zprofile.bak
# ```
#
# This sets the system path as early as possible, so we can prepend to
# it here
#
# Source:
# https://unix.stackexchange.com/questions/246751/how-to-know-why-and-where-the-path-env-variable-is-set/250456#250456
path=("$(brew --prefix)/opt/make/libexec/gnubin" $path)
{{ end -}}

#####################################################################
# Zsh configuration
#####################################################################
fpath=("${HOME}/.local/share/zsh/site-functions" $fpath)
ZGEN_RESET_ON_CHANGE=("${HOME}/.zshrc" "${HOME}/.zshenv")

#####################################################################
# Oh My zsh configuration
#####################################################################
DISABLE_UPDATE_PROMPT=true

#####################################################################
# PS1 configuration
#####################################################################
PURE_CMD_MAX_EXEC_TIME=3
PURE_NODE_ENABLED=0
PURE_GIT_PULL=0
PURE_PROMPT_SYMBOL=";"

#####################################################################
# smart-cd configuration
#####################################################################
export SMART_CD_ONLY_IF_FITS_RATIO=66

#####################################################################
# fzf configuration
#####################################################################
if command -v fdfind &>/dev/null; then
    FZF_ALT_C_COMMAND="fdfind --type d"
    FZF_DEFAULT_COMMAND="fdfind --type f"
elif command -v fd &>/dev/null; then
    FZF_ALT_C_COMMAND="fd --type d"
    FZF_DEFAULT_COMMAND="fd --type f"
else
    FZF_ALT_C_COMMAND="find -type d"
    FZF_DEFAULT_COMMAND="find -type f"
fi

export FZF_ALT_C_COMMAND
export FZF_DEFAULT_COMMAND
export FZF_CTRL_T_COMMAND="${FZF_DEFAULT_COMMAND}"

#####################################################################
# Docker configuration
#####################################################################
export DOCKER_BUILDKIT=1

#####################################################################
# Golang configuration
#####################################################################
path+=("${HOME}/go/bin")
{{ if eq .chezmoi.username "ericcrosson" -}}
export GOPRIVATE='github.com/lumina-tech/*'
{{ end -}}

#####################################################################
# Rust configuration
#####################################################################
path+=("${HOME}/.cargo/bin")

{{ if eq .chezmoi.os "darwin" -}}
#####################################################################
# Python configuration
#####################################################################
alias pip='pip3 '
path+=("${HOME}/Library/Python/${$(python3 --version | cut -d' ' -f2)%.*}/bin")
path+=("${HOME}/Library/Python/2.7/bin")
{{ end -}}

#####################################################################
# Bash configuration
# Note(MacOS): ensure bash is installed with brew
#####################################################################
path=("/usr/local/bin" $path)

#####################################################################
# Global PATH configuration
#####################################################################
path+=('/usr/local/sbin')
path=("${HOME}/.local/bin" $path)

#####################################################################
# asdf configuration
#####################################################################
{{ if eq .chezmoi.os "linux" -}}
source /home/linuxbrew/.linuxbrew/opt/asdf/asdf.sh
{{ end -}}

#####################################################################
# Nix configuration
#####################################################################
if [ -e "${HOME}/.nix-profile/etc/profile.d/nix.sh" ]; then
  . "${HOME}/.nix-profile/etc/profile.d/nix.sh"
fi

#####################################################################
# Epilogue
#####################################################################
export -U PATH
export -U FPATH
