[user]
    email = {{ .user.email }}
    name = {{ .user.name }}
{{ if eq .chezmoi.username "ericcrosson" }}
    signingKey = 0AB49222C769F13EDE3EBFB2352FBA3B4180A44A

[commit]
    gpgSign = true
{{ end -}}

[github]
    user = {{ .user.email }}

[init]
    defaultBranch = master

[alias]
    a = add
    b = branch
    c = commit
    cm = commit --message
    cl = clone
    co = checkout
    cob = checkout --branch
    d = diff
    di = diff ':(exclude)./**/package-lock.json' ':(exclude)./**/yarn.lock'
    dc = diff --cached
    dci = diff --cached ':(exclude)./**/package-lock.json' ':(exclude)./**/yarn.lock'
    f = fetch
    l = log -p
    ll = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    p = push
    pro = pull-request --browse
    prd = pull-request --browse --draft
    fsl = push --force-with-lease
    rb = rebase
    re = restore
    rs = restore --staged
    s = status

    prum = pull --rebase upstream master
    prom = pull --rebase origin master

    # After `git reset --soft HEAD^1`, commit with the same commit message
    # Source: https://stackoverflow.com/a/25930432
    recommit = commit --reuse-message=HEAD@{1}

    alias = !git config --list | grep \"alias\\\\.\" | sed \"s/alias\\\\.\\\\([^=]*\\\\)=\\\\(.*\\\\)/\\\\1\\\\\\t => \\\\2/\" | sort

[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    autocrlf = false
    pager = delta

[color]
    ui = true
    interactive = auto

[push]
    default = simple

[pull]
    rebase = true

[rerere]
    enabled = true

[url "git@github.com:"]
    insteadOf = "gh:"
    PushInsteadOf = "gh:"
    # example: git clone gh:ericcrosson/dotfiles

[delta]
    line-numbers = true
    # side-by-side=true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold reverse
    newNormal = green bold
    newHighlight = green bold reverse

[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[diff-so-fancy]
    markEmptyLines = false
    changeHunkIndicators = true

[git-up "fetch"]
    prune = true
    all = false

[git-up "push"]
    auto = false
    all = false
    tags = false

[git-up "rebase"]
    auto = true
    show-hashes = false

[git-up "updates"]
    check = false

[gpg]
    program = gpg
