#!/usr/bin/env bash

# catppuccin-helix hash: {{ include ".git-submodule-shas/catppuccin-helix" | sha256sum }}

readonly prefix="${HOME}/.local/share/chezmoi"
readonly catppuccin_dir="${prefix}/catppuccin-helix"
readonly helix_themes_dir="${HOME}/.config/helix/themes"

cd "${helix_themes_dir}" || 1

# Precondition: cwd is set to the desired directory
ensure_symlink() {
  local target="${1:?Must specify target}"
  local filename="$(basename "${target}")"

  if [ ! -L "${filename}" ]
  then
    # make space for the symlink by removing any file, if it exists
    rm -f "${filename}"
    # symlink the target into place
    ln --symbolic "${target}"
  fi
}

ensure_symlink "${catppuccin_dir}/italics/catppuccin_latte.toml"
ensure_symlink "${catppuccin_dir}/italics/catppuccin_mocha.toml"
