#!/usr/bin/env bash

{{ if (eq .chezmoi.os "linux") -}}

install_nix() {
  if ! command -v nix-shell &>/dev/null; then
    sudo install -d -m755 -o $(id -u) -g $(id -g) /nix
    curl -L https://nixos.org/nix/install | sh
  fi
}

{{ end -}}
