#!/usr/bin/env bash
# vim: filetype=sh

# apt-packages.txt hash: {{ include "apt-packages.txt" | sha256sum }}

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}

xargs -a ~/.local/share/chezmoi/apt-packages.txt sudo apt -y install

sudo apt -y autoremove

{{ end -}}
