#!/usr/bin/env bash

# helix-editor hash: {{ include ".git-submodule-shas/helix" | sha256sum }}

readonly prefix="${HOME}/.local/share/chezmoi"
readonly helix_dir="${prefix}/helix"
readonly helix_config_dir="${HOME}/.config/helix"
readonly helix_runtime_directory="${helix_config_dir}/runtime"

cd "${helix_dir}" || exit 1

# When chezmoi is bootstrapping a fresh install, the PATH is not configured yet
source $HOME/.cargo/env

# start from a clean slate
rm -rf "${helix_runtime_directory}"

# compile helix
cargo install --path helix-term

# download and compile grammars
hx --grammar fetch
hx --grammar build

# configure the helix runtme as instructed in the readme
mkdir -p "${helix_config_dir}"
ln --symbolic --target-directory "${helix_config_dir}" "${helix_dir}/runtime"
