#!/usr/bin/env bash

{{ if (eq .chezmoi.os "linux") -}}

if ! command -v google-chrome &>/dev/null; then
  wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
  trap 'rm google-chrome-stable_current_amd64.deb' EXIT
  sudo dpkg -i google-chrome-stable_current_amd64.deb
fi

{{ end -}}
