#!/usr/bin/env bash

# udev rule hash: {{ include "kmonad-configuration/02_kmonad_uinput.rules" | sha256sum }}
# kmonad config hash: {{ include "dot_config/kmonad/private_config-kinesis-advantage.kbd" | sha256sum }}
# kmonad config hash: {{ include "dot_config/kmonad/private_config-realforce.kbd" | sha256sum }}
# systemd service hash: {{ include "dot_local/systemd/system/kmonad-kinesis-advantage.service.tmpl" | sha256sum }}
# systemd service hash: {{ include "dot_local/systemd/system/kmonad-realforce.service.tmpl" | sha256sum }}

# Following instructions from
# https://github.com/kmonad/kmonad/blob/ca616766a6ebf36e946c2e60dbc31e583b9f8e5f/doc/faq.md

readonly prefix="${HOME}/.local/share/chezmoi"
readonly kmonad_conf_dir="${prefix}/kmonad-configuration"

readonly udev_rule_filename="02_kmonad_uinput.rules"
readonly udev_rule_path="/lib/udev/rules.d/${udev_rule_filename}"

add_user_to_uinput_group() {
  sudo usermod -aG input "$(whoami)"
  sudo usermod -aG uinput "$(whoami)"
}

create_uinput_group() {
  if ! getent group uinput > /dev/null; then
    sudo groupadd uinput
    add_user_to_uinput_group
  fi
}

write_udev_rule() {
  cat "${kmonad_conf_dir}/${udev_rule_filename}" | sudo tee "${udev_rule_path}"
}

# Example from
# https://github.com/kmonad/kmonad/blob/ca616766a6ebf36e946c2e60dbc31e583b9f8e5f/startup/kmonad.service
#
# We use chezmoi to render the template variables in the systemd service, then copy
# the file into place.  This hoop is necessary to jump through because managing
# files outside the users home directory is an explicit non-goal of chezmoi.
write_systemd_service() {
  sudo ln -sf "${HOME}/.local/systemd/system/kmonad-kinesis-advantage.service" "/etc/systemd/system/kmonad-kinesis-advantage.service"
  sudo ln -sf "${HOME}/.local/systemd/system/kmonad-realforce.service" "/etc/systemd/system/kmonad-realforce.service"
}

start_systemd_service() {
  sudo systemctl enable kmonad-kinesis-advantage
  sudo systemctl enable kmonad-realforce

  sudo systemctl restart kmonad-kinesis-advantage
  sudo systemctl restart kmonad-realforce
}

create_uinput_group
write_udev_rule
write_systemd_service
start_systemd_service
