#!/usr/bin/env bash

# catppuccin-helix hash: {{ include ".git-submodule-shas/catppuccin-helix" | sha256sum }}

readonly prefix="${HOME}/.local/share/chezmoi"
readonly catppuccin_dir="${prefix}/catppuccin-helix"
readonly helix_themes_dir="${HOME}/.config/helix/themes"

cd "${helix_themes_dir}" || 1

ln --symbolic "${catppuccin_dir}/italics/catppuccin_latte.toml"
ln --symbolic "${catppuccin_dir}/italics/catppuccin_mocha.toml"
