#!/usr/bin/env bash
# vim: filetype=sh

{{ if (eq .chezmoi.os "linux") }}

if ! command -v docker &>/dev/null; then

  sudo apt install docker.io

  if ! grep -q docker /etc/group; then
    sudo groupadd docker
  fi

  if ! (groups | grep -q docker); then
    sudo usermod -a -G docker $(whoami)
  fi

  sudo systemctl enable --now docker

fi

{{ end -}}

