#!/usr/bin/env bash
# vim: filetype=sh

# apt-packages.txt hash: {{ include "apt-packages.txt" | sha256sum }}

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) -}}

sudo apt -y autoremove

{{ end -}}

