#!/usr/bin/env bash

# helix-editor hash: {{ include ".git-submodule-shas/helix" | sha256sum }}

readonly prefix="${HOME}/.local/share/chezmoi"
readonly helix_dir="${prefix}/helix"
readonly helix_config_dir="${HOME}/.config.helix"
readonly helix_runtime_directory="${helix_config_dir}/runtime"

# update helix and submodules
cd "${helix_dir}" || exit 1

# compile helix
cargo install --path helix-term

# copy the helix runtme as instructed in the readme
rm -rf "${helix_runtime_directory}"
mkdir -p "${helix_config_dir}"
cp -r "${helix_dir}/runtime" "${helix_runtime_directory}"

# download and compile grammars
hx --grammar fetch
hx --grammar build
