#!/usr/bin/env bash
# vim: filetype=sh

install_nix() {
  if !command -v nix-shell &>/dev/null; then
    sudo install -d -m755 -o $(id -u) -g $(id -g) /nix
    curl -L https://nixos.org/nix/install | sh
  fi
}

install_asdf_plugins() {
  asdf plugin-add nodejs https://github.com/asdf-vm/asdf-nodejs.git
  asdf plugin-add direnv
  asdf install direnv latest
  asdf global direnv latest
}

{{ if eq .chezmoi.os "darwin" -}}
# To prioritize GNU Make in $PATH in ~/.zshenv, you must also execute
# the following to set the system path as early as possible
# https://unix.stackexchange.com/questions/246751/how-to-know-why-and-where-the-path-env-variable-is-set/250456#250456
macos_configure_zsh_path() {
  if [ ! -f /etc/zshenv ]; then
    sudo cp /etc/zprofile /etc/zshenv
    sudo mv /etc/zprofile /etc/zprofile.bak
  fi
}
{{ end -}}

configure_keyboard_repeat_rate() {
  {{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) }}
  gsettings set org.gnome.desktop.peripherals.keyboard repeat-interval 12
  gsettings set org.gnome.desktop.peripherals.keyboard delay 172
  {{ else if eq .chezmoi.os "darwin" -}}
  defaults write NSGlobalDomain KeyRepeat -int 1
  defaults write -g InitialKeyRepeat -int 13
  {{ end -}}
}

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu")) }}

install_nix

# dependencies for vim YouCompleteMe
sudo apt install vim-gtk3 mono-complete default-jdk

# dependencies for asdf-nodejs
sudo apt install dirmngr

sudo apt autoremove

# DISCUSS: Hopefully this installs Hack, but if this script runs
# before provisioning then it won't be effective. Also not sure if
# flags -f -v are required
fc-cache

{{ else if eq .chezmoi.os "darwin" }}

brew cask install homebrew/cask-fonts/font-hack

brew install emacs-head@28 \
  --with-cocoa \
  --with-imagemagick \
  --with-no-frame-refocus \
  --with-pdumper \
  --with-xwidgets \
  --with-modern-icon-purple

macos_configure_zsh_path

{{ end }}

configure_keyboard_repeat_rate

install_asdf_plugins
