#!/usr/bin/env bash

asdf plugin-add direnv
asdf plugin-add nodejs https://github.com/asdf-vm/asdf-nodejs.git
# asdf plugin-add python

asdf global direnv latest
asdf global nodejs latest
# asdf global python latest

asdf install direnv latest
asdf install nodejs latest
# FIXME: can't install because pyenv can't find the installed openssl headers
# asdf install python latest
