#!/usr/bin/env bash
# vim: filetype=sh

{{ if (eq .chezmoi.os "linux") }}

# set default terminal to kitty
sudo update-alternatives --set x-terminal-emulator "$(which kitty)"

# set default shell to zsh
if ! (grep $USER /etc/passwd | grep -q zsh); then
  chsh -s $(which zsh)
fi

{{ end -}}
