theme = "catppuccin_{{ .catppuccin_theme }}"

[keys.normal]
C-h = "jump_view_left"
C-j = "jump_view_down"
C-k = "jump_view_up"
C-l = "jump_view_right"

"space" = {t = ":tree-sitter-subtree"}

[editor]
idle-timeout = 0

# Introduced in https://github.com/helix-editor/helix/pull/1154
[editor.cursor-shape]
normal = "block"
insert = "bar"
select = "underline"

# Introduced in https://github.com/helix-editor/helix/pull/1802
[editor.whitespace.render]
tab = "all"
