!emacs*cursorColor: red
!emacs*pointerColor: red
emacs*font: -unknown-DejaVu Sans Mono-normal-normal-normal-*-11-*-*-*-m-0-iso10646-1

xterm*color0:         rgb:19/19/19
xterm*color8:         rgb:25/25/25
!red
xterm*color1:         rgb:80/32/32
xterm*color9:         rgb:98/2b/2b
!green
xterm*color2:         rgb:5b/76/2f
xterm*color10:        rgb:89/b8/3f
!brown/yellow
xterm*color3:         rgb:aa/99/43
xterm*color11:        rgb:ef/ef/60
!blue
xterm*color4:         rgb:32/4c/80
xterm*color12:        rgb:2b/4f/98
!magenta
xterm*color5:         rgb:70/6c/9a
xterm*color13:        rgb:82/6a/b1
!cyan
xterm*color6:         rgb:92/b1/9e
xterm*color14:        rgb:a1/cd/cd
!white
xterm*color7:         rgb:ff/ff/ff

xterm*reverseVideo:   on
xterm*metaSendsEscape: true
xterm*cursorColor: red
xterm*pointerColor: red
xterm*highlightSelection: true

URxvt*termName: screen-256color
URxvt*geometry: 240x84
URxvt*loginShell: true
URxvt*scrollColor: #777777
URxvt*scrollstyle: plain
URxvt*scrollTtyKeypress: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: false
URxvt*secondaryScreen: true
URxvt*secondaryScroll: true
URxvt*skipScroll: true
URxvt*scrollBar: false
URxvt*scrollBar_right: false
URxvt*scrollBar_floating: false
URxvt*fading: 30
URxvt*utmpInhibit: false
URxvt*urgentOnBell: false
URxvt*visualBell: false
URxvt*mapAlert: true
URxvt*mouseWheelScrollPage: false
URxvt*background: Black
URxvt*foreground: White
URxvt*colorUL: yellow
URxvt*underlineColor: yellow
URxvt.font:     xft:bitstream vera sans mono:size=7:antialias=true
URxvt.boldFont: xft:bitstream vera sans mono:bold:size=7:antialias=true
URxvt*italicFont: xft:bitstream vera sans mono:italic:autohint=true:pixelsize=9
URxvt*boldItalicFont: xft:bitstream vera sans mono:bold:italic:autohint=true:pixelsize=7
URxvt*saveLines: 0
URxvt*buffered: true
URxvt*hold: false
URxvt*internalBorder:
URxvt*print-pipe: cat > $HOME/$(echo urxvt.dump.$(date +'%Y%M%d%H%m%S'))
URxvt*perl-ext-common:
URxvt*perl-ext:
URxvt*cursorColor: red
URxvt*pointerColor: red
URxvt.perl-ext-common: ...,font-size

! on the fly font-size adjustment
URxvt.keysym.C-Up:     font-size:increase
URxvt.keysym.C-Down:   font-size:decrease
URxvt.keysym.C-S-Up:   font-size:incglobal
URxvt.keysym.C-S-Down: font-size:decglobal

xclock*Foreground:      white
xclock*Background:      black
xclock*Border:          black
xclock*Highlight:       white
xclock*Hands:           white
xclock*Mode:            analog
xclock*hourColor:       white
xclock*minuteColor:     white
xclock*secondColor:     white
xclock*majorColor:      white
xclock*minorColor:      white

Xft.dpi: 96
