@import url("/usr/share/gnome-shell/theme/gnome-shell.css");

#panel {
    background-color: #eeeeee;
    color: #000000;
    font-family: ubuntu, cantarell;
    font-size: 0.9em;
    font-weight: normal;
    height: 1.55em;
}

.panel-button {
    -natural-hpadding: 6px;
    -minimum-hpadding: 4px;
    font-family: MintSpirit, ubuntu, cantarrell;
    font-weight: bold;
    color: #000000;
    transition-duration: 100;
}
