---
name: Nix flake check

on:
  pull_request:

jobs:
  check:
    name: Nix flake check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v20

      - name: Install EricCrosson/retry
        uses: EricCrosson/install-github-release-binary@v2
        with:
          targets: EricCrosson/retry@v1

      # Retry this step because sometimes there is a network blip
      - run: |
          : nix flake check
          retry --up-to 2x -- nix flake check ./nix --keep-going --print-build-logs
